.elementor-227 .elementor-element.elementor-element-9de45bb {
    padding: 138px 0px 150px 0px;
}

.elementor-227 .elementor-element.elementor-element-13ed100>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-227 .elementor-element.elementor-element-0eb7881 .fn__maintitle {
    color: #fff;
}

.elementor-227 .elementor-element.elementor-element-0eb7881>.elementor-widget-container {
    margin: 0px 0px 15px 0px;
    padding: 12px 0px 0px 0px;
}

.elementor-227 .elementor-element.elementor-element-e9ab2e3>.elementor-widget-container {
    margin: 0px 0px 25px 0px;
}

.elementor-227 .elementor-element.elementor-element-be8e05c {
    color: #9BA0B8;
    font-family: "Nunito", Sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.44em;
}

.elementor-227 .elementor-element.elementor-element-be8e05c>.elementor-widget-container {
    margin: 0px 0px 27px 0px;
}

.elementor-227 .elementor-element.elementor-element-94e6cac .fn__maintitle {
    color: #fff;
}

.elementor-227 .elementor-element.elementor-element-94e6cac>.elementor-widget-container {
    margin: 0px 0px 15px 0px;
    padding: 12px 0px 0px 0px;
}

.elementor-227 .elementor-element.elementor-element-4fc56cf>.elementor-widget-container {
    margin: 0px 0px 25px 0px;
}

.elementor-227 .elementor-element.elementor-element-9f05611 {
    color: #9BA0B8;
    font-family: "Nunito", Sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.44em;
}

.elementor-227 .elementor-element.elementor-element-9f05611>.elementor-widget-container {
    margin: 0px 0px 27px 0px;
}

.elementor-227 .elementor-element.elementor-element-cce94aa {
    color: #9BA0B8;
    font-family: "Nunito", Sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.44em;
}

.elementor-227 .elementor-element.elementor-element-cce94aa>.elementor-widget-container {
    margin: 0px 0px 27px 0px;
}

.elementor-227 .elementor-element.elementor-element-2e3f9b6 .fn__maintitle {
    color: #fff;
}

.elementor-227 .elementor-element.elementor-element-2e3f9b6>.elementor-widget-container {
    margin: 0px 0px 15px 0px;
    padding: 12px 0px 0px 0px;
}

.elementor-227 .elementor-element.elementor-element-39c656b>.elementor-widget-container {
    margin: 0px 0px 25px 0px;
}

.elementor-227 .elementor-element.elementor-element-1745d43 {
    color: #9BA0B8;
    font-family: "Nunito", Sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.44em;
}

.elementor-227 .elementor-element.elementor-element-1745d43>.elementor-widget-container {
    margin: 0px 0px 27px 0px;
}

.elementor-227 .elementor-element.elementor-element-f39194b .fn__maintitle {
    color: #fff;
}

.elementor-227 .elementor-element.elementor-element-f39194b>.elementor-widget-container {
    margin: 0px 0px 15px 0px;
    padding: 12px 0px 0px 0px;
}

.elementor-227 .elementor-element.elementor-element-3d575bd>.elementor-widget-container {
    margin: 0px 0px 25px 0px;
}

.elementor-227 .elementor-element.elementor-element-e563eec {
    color: #9BA0B8;
    font-family: "Nunito", Sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.44em;
}

.elementor-227 .elementor-element.elementor-element-e563eec>.elementor-widget-container {
    margin: 0px 0px 27px 0px;
}

.elementor-227 .elementor-element.elementor-element-4f371d5 {
    color: #9BA0B8;
    font-family: "Nunito", Sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.44em;
}

.elementor-227 .elementor-element.elementor-element-4f371d5>.elementor-widget-container {
    margin: 0px 0px 27px 0px;
}

.elementor-227 .elementor-element.elementor-element-53fe6e2 {
    color: #9BA0B8;
    font-family: "Nunito", Sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.44em;
}

.elementor-227 .elementor-element.elementor-element-53fe6e2>.elementor-widget-container {
    margin: 0px 0px 27px 0px;
}

.elementor-227 .elementor-element.elementor-element-eb70bb8 {
    color: #9BA0B8;
    font-family: "Nunito", Sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.44em;
}

.elementor-227 .elementor-element.elementor-element-eb70bb8>.elementor-widget-container {
    margin: 0px 0px 27px 0px;
}

.elementor-227 .elementor-element.elementor-element-631562e .fn__maintitle {
    color: #fff;
}

.elementor-227 .elementor-element.elementor-element-631562e>.elementor-widget-container {
    margin: 0px 0px 15px 0px;
    padding: 12px 0px 0px 0px;
}

.elementor-227 .elementor-element.elementor-element-a0bbfb5>.elementor-widget-container {
    margin: 0px 0px 25px 0px;
}

.elementor-227 .elementor-element.elementor-element-eced3fd {
    color: #9BA0B8;
    font-family: "Nunito", Sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.44em;
}

.elementor-227 .elementor-element.elementor-element-eced3fd>.elementor-widget-container {
    margin: 0px 0px 27px 0px;
}

.elementor-227 .elementor-element.elementor-element-b6be604 {
    color: #9BA0B8;
    font-family: "Nunito", Sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.44em;
}

.elementor-227 .elementor-element.elementor-element-b6be604>.elementor-widget-container {
    margin: 0px 0px 27px 0px;
}

.elementor-227 .elementor-element.elementor-element-e9e9646 .fn__maintitle {
    color: #fff;
}

.elementor-227 .elementor-element.elementor-element-e9e9646>.elementor-widget-container {
    margin: 0px 0px 15px 0px;
    padding: 12px 0px 0px 0px;
}

.elementor-227 .elementor-element.elementor-element-74f434f>.elementor-widget-container {
    margin: 0px 0px 25px 0px;
}

.elementor-227 .elementor-element.elementor-element-2c76c40 {
    color: #9BA0B8;
    font-family: "Nunito", Sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.44em;
}

.elementor-227 .elementor-element.elementor-element-2c76c40>.elementor-widget-container {
    margin: 0px 0px 27px 0px;
}

.elementor-227 .elementor-element.elementor-element-0970989 .fn__maintitle {
    color: #fff;
}

.elementor-227 .elementor-element.elementor-element-0970989>.elementor-widget-container {
    margin: 0px 0px 15px 0px;
    padding: 12px 0px 0px 0px;
}

.elementor-227 .elementor-element.elementor-element-4526590>.elementor-widget-container {
    margin: 0px 0px 25px 0px;
}

.elementor-227 .elementor-element.elementor-element-910a4b6 {
    color: #9BA0B8;
    font-family: "Nunito", Sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.44em;
}

.elementor-227 .elementor-element.elementor-element-910a4b6>.elementor-widget-container {
    margin: 0px 0px 27px 0px;
}

.elementor-227 .elementor-element.elementor-element-5601062 {
    color: #9BA0B8;
    font-family: "Nunito", Sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.44em;
}

.elementor-227 .elementor-element.elementor-element-5601062>.elementor-widget-container {
    margin: 0px 0px 27px 0px;
}

.elementor-227 .elementor-element.elementor-element-5db3244 .fn__maintitle {
    color: #fff;
}

.elementor-227 .elementor-element.elementor-element-5db3244>.elementor-widget-container {
    margin: 0px 0px 15px 0px;
    padding: 12px 0px 0px 0px;
}

.elementor-227 .elementor-element.elementor-element-32bef0e>.elementor-widget-container {
    margin: 0px 0px 25px 0px;
}

.elementor-227 .elementor-element.elementor-element-ca075b8 {
    color: #9BA0B8;
    font-family: "Nunito", Sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.44em;
}

.elementor-227 .elementor-element.elementor-element-ca075b8>.elementor-widget-container {
    margin: 0px 0px 27px 0px;
}

.elementor-227 .elementor-element.elementor-element-8bd9f0a .fn__maintitle {
    color: #fff;
}

.elementor-227 .elementor-element.elementor-element-8bd9f0a>.elementor-widget-container {
    margin: 0px 0px 15px 0px;
    padding: 12px 0px 0px 0px;
}

.elementor-227 .elementor-element.elementor-element-9dfd1f5>.elementor-widget-container {
    margin: 0px 0px 25px 0px;
}

.elementor-227 .elementor-element.elementor-element-9fddcfa {
    color: #9BA0B8;
    font-family: "Nunito", Sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.44em;
}

.elementor-227 .elementor-element.elementor-element-9fddcfa>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}